.firstsection1 {
    display: flex;
    justify-content: space-around;
    margin: 120px 0px;
}

.firstsection1>div {
    width: 73%;

}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin: 40px 0px;
}

.icons img {
    height: 80px;
    width: 80px;
}

.firstsection2 {
    display: flex;
    justify-content: space-around;
    margin: 60px 0px;
}

.firstsection2>div {
    width: 73%;

}